body {
  color: #40514E;
  margin: 0;
  text-align:center;

}

h1 {
  line-height:2;
  font-size: 2.8rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF
}
h2 {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #66BFBF;
  padding-bottom: 10px;

}
h3 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}
hr {
  border :dotted #eaf6f6 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
.p {
  line-height:2;
  font-size: 1em;
}
.p1{
  line-height:2;
  font-size: 1em;
}
.btn {

  line-height: 5  ;

}

.top-container {
  background-color: #e4f9f5 ;
  position: relative;
  padding-top: 100px;

}
.footer-link{
  color: #11999E;
}
.foot-text {
  color: #f9f9f9;
}


.skill-row {
  line-height: 2;
  text-align: left;
  width:50%;
  margin: 100px auto 100px auto;
}
.chilli {
  margin-left: 30px;

  float: right;
  width: 25%

}
.guru {
  width: 20%;
  height: 25%;


}
.computer {
  margin-right: 30px;
  float: left;
  width: 25%

}
.middle-container {
  margin: 100px auto 100px auto;

}
.bottom-container {

  background-color: #66BFBF;
  padding: 50px 0 50px 0;


}
.bottom-cloud {
  position:absolute;
  top: 345px;
  left: 250px;


}
.top-cloud {
  position: absolute;
  right: 300px;
  top:40px;
}
.btn {
   background: #4ADFF8;
   background-image: -webkit-linear-gradient(top, #4ADFF8, #1AAEFC);
   background-image: -moz-linear-gradient(top, #4ADFF8, #1AAEFC);
   background-image: -ms-linear-gradient(top, #4ADFF8, #1AAEFC);
   background-image: -o-linear-gradient(top, #4ADFF8, #1AAEFC);
   background-image: -webkit-gradient(to bottom, #4ADFF8, #1AAEFC);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 11px;
   line-height: 11px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 135px;
   font-size: 18px;
   font-weight: 500;
   padding: 21px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #3DE5F6;
   background-image: -webkit-linear-gradient(top, #3DE5F6, #1ED09B);
   background-image: -moz-linear-gradient(top, #3DE5F6, #1ED09B);
   background-image: -ms-linear-gradient(top, #3DE5F6, #1ED09B);
   background-image: -o-linear-gradient(top, #3DE5F6, #1ED09B);
   background-image: -webkit-gradient(to bottom, #3DE5F6, #1ED09B);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
a {
  margin: auto 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #99999e;
}
a:hover {
  color: #eaf6f6;
}
.foot-text {
  font-size: 1em;
  padding: 20px 0;
}
